

.answer{
    width: 70%;
    max-width:700px;
    margin: 0 auto;
    padding: 2%;
    display: "flex";
    justify-content: 'center';
    align-items: 'center';
    height: '100%';
}

.card-text{
    float: middle;
}

.pfimage{
    float: left;
}


.reflect{
    float: left;
}

.profimage p{ 
    display: flex;
    position: relative;
    left: 60px;
    bottom: 5px;
}

.profimage img{
    display: flex;
    position: relative;
    width: 30px;
    top: 20px;
    left: 20px;
}

.vid-player {
    display: flex;
    position:relative;
    right: -350px;
}

